$dark1: #212121;
$dark2: #61707c;
$dark3: #262626;
$dark4: #010101;
$light1: #ffffff;
$light2: #dee4e8;
$light3: #f9f9f9;
$accent: #0081ce;
$baseFontFamily: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
  sans-serif;
$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1024px,
);
