$productsBg: #f9f9f9;
$productsTitleColor: #212121;
$productsPriceColor: #61707c;
$productsButtonBg: #0081ce;
$productsButtonColor: #ffffff;
$slideBarBg: #dee4e8;
$slideBarHandle: #252525;
$breakpoints: (
  phone: 320px,
  tablet: 768px,
  desktop: 1024px,
);
